<div class="container">
<h1> The Brostoff CarrierWave Example</h1>

<%= form_for @user, :html => {:multipart => true} do |f| %>
  <p>
    <label>Choose a Picture!</label>
    <br>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
    <br>
    <%= f.submit "Let's Do It" %>
  </p>
<% end %>

<% @users.each do |user| %>

  <%= user.name %>
  <br>
  <%= user.avatar.url %>
  <br><br>
  <%= image_tag(user.avatar.url, size: '200x200') %>
  <br><br>

<%end%>

</div>